<!DOCTYPE html>
<html>
<head>
    {{{ htmlWebpackPlugin.tags.headTags }}}
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title> {{ htmlWebpackPlugin.options.title }}</title>
    <meta name="description" content="{{ config.description }}">
    <meta itemprop="name" content="{{ config.name }}">
    <meta itemprop="description" content="{{ config.description }}">
    <meta itemprop="image" content="{{ site_screenshot }}">
    <meta name="twitter:card" content="{{ config.description }}">
    <meta name="twitter:site" content="{{ links.Twitter.handle }}">
    <meta name="twitter:title" content="{{ htmlWebpackPlugin.options.title }}">
    <meta name="twitter:description" content="{{ config.description }}">
    <meta name="twitter:creator" content="{{ links.Twitter.handle }}">
    <meta name="twitter:image:src" content="{{ site_screenshot }}">
    <meta property="og:url" content="https://{{ base_domain }}">
    <meta property="og:title" content="{{ htmlWebpackPlugin.options.title }}">
    <meta property="og:description" content="{{ config.description }}">
    <meta property="og:image" content="{{ site_screenshot }}">
    <meta property="og:type" content="page">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-271854-5"></script>
    <script>
        try {
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());

            gtag('config', 'UA-271854-5');
        } catch (e) {

        }
    </script>

</head>

<body>
<div id="app">
    <app></app>
</div>

{{{ htmlWebpackPlugin.tags.bodyTags }}}
</body>
</html>
